               /**** COMMONS ****/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
               /**** CONTEINER ****/
.conteiner{
    width: auto;
    margin: 0 auto;
}
               /**** BOX ****/
.clarefix::after{
    content: "";
    display: table;
    clear: both;
}
 .box{
     padding: 50px;
     float: left;
     width: calc(100% / 3 - 20px);
     margin: 10px;
 }

.foto{
    width: 100%;
    object-fit: cover;
}
               /**** HOVER ****/
.foto-hover{
    width: 100%;
    object-fit: cover;
    display: none;
}

.box:hover .foto{
    display: none;
}

.box:hover .foto-hover{
    display: inline-block;
}
               /**** SCRITTE ****/
.scritta{
    text-transform: uppercase;
}

h4{
    font-size: 20px;
    font-weight: bolder;
}
p{
    font-size: 15px;
}

.prezzo{
    color: orangered;
    font-weight: bolder;
}

.taglio{
    text-decoration: line-through;
}




