               /**** COMMONS ****/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
               /**** CONTEINER ****/
.conteiner{
    width: auto;
    margin: 0 auto;
}
               /**** BOX ****/
.clarefix::after{
    content: "";
    display: table;
    clear: both;
}
 .box{
     padding: 50px;
     float: left;
     width: calc(100% / 3 - 20px);
     margin: 10px;
     position: relative;
     overflow: hidden;
}

.foto{
    width: 100%;
    object-fit: cover;
}
               /**** HOVER ****/
.foto-hover{
    width: 100%;
    object-fit: cover;
    display: none;
}

.box:hover .foto{
    display: none;
}

.box:hover .foto-hover{
    display: inline-block;
}
               /**** SCRITTE ****/

h4{
    font-size: 20px;
    font-weight: bolder;
    text-transform: uppercase;
}
p{
    font-size: 15px;
}

.prezzo{
    color: orangered;
    font-weight: bolder;
}

.taglio{
    text-decoration: line-through;
}
               /**** SCRITTE SULL'IMMAGINE ****/
.sconto{
    background-color: red;
    position: absolute;
    color: white;
    bottom: 20%;
    padding: 4px;
    font-size: 15px;
}

.sost{
    background-color: rgb(3, 177, 3);
    position: absolute;
    color: white;
    padding: 4px;
    font-size: 15px;
    bottom: 20%;
    right: 62%;
}

.sost2{
        background-color: rgb(3, 177, 3);
        position: absolute;
        color: white;
        padding: 4px;
        font-size: 15px;
        bottom: 20%;
}
               /**** CUORE SULL'IMMAGINE ****/
.cuore{
    background-color: white;
    position: absolute;
    padding: 15px;
    text-align: center;
    font-size: 30px;
    left: 80%;
    top: 10%;
}


